* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-image: url(../imagen/fondo/23178.jpg);
    overflow-x: hidden;
}

.colorPunto {
    background-color: #ffffff;
}

.busqueda {

    color: #4d789e;
    font-size: 20px;
    transition: 0.3s;
}


.busqueda:hover {

    color: #ffffff;
    background-color: #375f8d;
    border-radius: 100%;

}

.btn {
    color: #4d789e;
}

.titulo {

    display: flex;
    font-size: 50px;
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
    color: #243f5e;
    padding: 15px;
}

.titulo:hover {

    display: flex;
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    padding: 15px;
    border-radius: 50px 100px 100px;
    background-color: #375f8d;
}

.carrusel {
    height: 550px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-radius: 45px;
}


.boton-uno {
    font-size: 20px;
}


.pie {
    background-color: #ffffff;
    text-align: center;
}

.derechos {
    color: #243f5e;
    text-align:start;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    margin-bottom: -15px;
}

.redes {
    display: flex;
    flex: auto;
}

.palabrasFooter {
    color: #ffffff;
    font-size: 20px;
    border-radius: 15px;
    background-color: #2077c4;
    text-align: center;
    padding: 7px;
}

.palabrasFooter:hover {

    color: #243f5e;
    background-color: #ffffff;

}

.trabajemos {
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: white;
    padding: 50px;
    border-radius: 45px;
}


.galeriaImagen {
    width: 100%;
    height: 2500px;

}

.galeriaImagen:hover {
    width: 410px;
    height: 410px;
    
}

.cartas {
    background-color: #2077c4;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #e0e0e0;
   
}

.cartas:hover {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #e0e0e0;
}

.textoCarta {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #07284e;
    text-align: center;
}


.linkFooter {
    color: #2077c4;
    font-size: 17px;
    margin-left: 120px;
}

.linkFooter:hover {
    color: white;
    border-radius: 10px;
    background-color: #2077c4;
}

.slogan {
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: 300;
    margin: 15px;
}

.nosotrosImg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-radius: 45px;

}