* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-image: url(../imagen/fondo/23178.jpg);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.colorPunto {
    background-color: #ffffff;
}

.busqueda {

    color: #4d789e;
    font-size: 20px;
    transition: 0.3s;
}


.busqueda:hover {

    color: #ffffff;
    background-color: #375f8d;
    border-radius: 100%;

}

.btn {
    color: #4d789e;
}

.titulo {

    display: flex;
    font-size: 50px;
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
    color: #243f5e;
    padding: 15px;
}

.titulo:hover {

    display: flex;
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    padding: 15px;
    border-radius: 50px 100px 100px;
    background-color: #375f8d;
}

.carrusel {
    height: 550px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-radius: 45px;
    max-width: 100%;
    height: auto;
    display: block;
}

@media (min-width:600px) {
    .carrusel {
        border: 1px;
    }
}

.tituloPc {
    color: #243f5e;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.parrafoPc {
    color: #243f5e;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.carruselProd {
    border-radius: 300px;
}

.tituloProd {
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: #375f8d;
    padding: 15px;
    border-radius: 45px;
    margin-top: 85px;
}

.carruselDos {
    height: 550px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 500px;
    border-radius: 450px;
    max-width: 100%;
    height: auto;
    display: block;
}



.boton-uno {
    font-size: 20px;
}


.palabrasFooter {
    color: #ffffff;
    font-size: 20px;
    border-radius: 15px;
    background-color: #2077c4;
    text-align: center;
    padding: 7px;
}

.palabrasFooter:hover {

    color: #243f5e;
    background-color: #ffffff;

}

.trabajemos {
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: white;
    padding: 50px;
    border-radius: 45px;
}


.galeriaImagen {
    width: 100%;
    height: 2500px;

}

.galeriaImagen:hover {
    width: 410px;
    height: 410px;

}

.cartas {
    background-color: #ffffff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #e0e0e0;
    padding: 15px;
    margin: 20px;
}

.carta {
    color: #07284e;
}

.cartas:hover {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #e0e0e0;
}

.textoCarta {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #07284e;
    text-align: center;
    padding: 10px;
}

.textoC {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: #07284e;
    text-align: center;
}

.botun {
    background-color: #07284e;
    font-size: 15px;
    color: #ffffff;
    margin-left: 314px;
    border-radius: 20px;
    transition: 0.2;
}

.botun:hover {
    background-color: #375f8d;
    border-radius: 15px;
}


.slogan {
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: 300;
    margin: 15px;
}

.nosotrosImg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-radius: 45px;

}

footer {
    background-color: #ffffff;
    color: #07284e;
    padding: 20px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-section {
    width: 250px;
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

.social-icons {
    display: flex;
}

.social-icons li {
    margin-right: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}


@media (max-width: 768px) {
    .footer-section {
        width: 100%; 
    }
}